[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-delimitmate"]
	path = bundle/vim-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-flex4"]
	path = bundle/vim-flex4
	url = git://github.com/vim-scripts/Flex-4.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gist"]
	path = bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/vim-scripts/session.vim--Odding.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-zencoding"]
	path = bundle/vim-zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-twitvim"]
	path = bundle/vim-twitvim
	url = git://github.com/vim-scripts/TwitVim.git
[submodule "bundle/vim-easygrep"]
	path = bundle/vim-easygrep
	url = git://github.com/vim-scripts/EasyGrep.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-tagbar"]
	path = bundle/vim-tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = git://github.com/xolox/vim-shell.git
