[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-delimitmate"]
	path = bundle/vim-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/vim-scripts/session.vim--Odding.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-zencoding"]
	path = bundle/vim-zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-twitvim"]
	path = bundle/vim-twitvim
	url = git://github.com/vim-scripts/TwitVim.git
[submodule "bundle/vim-easygrep"]
	path = bundle/vim-easygrep
	url = git://github.com/vim-scripts/EasyGrep.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-tagbar"]
	path = bundle/vim-tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snipmate-tlib"]
	path = bundle/vim-snipmate-tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-snipmate-mw-utils"]
	path = bundle/vim-snipmate-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-command-t"]
	path = bundle/vim-command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vim-better-css-syntax"]
	path = bundle/vim-better-css-syntax
	url = git://github.com/ChrisYip/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "bundle/vim-javascript-indent"]
	path = bundle/vim-javascript-indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-eco"]
	path = bundle/vim-eco
	url = git://github.com/jayferd/eco.vim.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
