snippet backbone.model
	var ${1:model} = Backbone.Model.extend({
		defaults: {
			$2
		},

	    initialize: function () {
		}
	});
snippet backbone.collection
	var ${1:collection}s = Backbone.Collection.extend({
		model: ${2:model},
		url: "${3}"
	}); 
snippet backbone.view
	var ${1} = Backbone.View.extend({
		el: $('${2}'),

		events: {
			${3}
		},

		initialize: function () {
			_.bindAll(this, "render", ${4});
		},

		render: function () {
		}
	}); 
